.footer {
    display: flex;
    width: 100%;
    text-align: start;
    padding-bottom: 20px;
    background-color: #56ccf2;
    justify-content: space-around;
    padding-top: 10px;
  }
  
  .footer ul {
    list-style: none;
    display: flex;
    position: absolute;
    right: 100px;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .footer li {
    padding: 8px;
    margin: 0px 15px;
  }
  
  .footer h1 {
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 60px;
    width: 80%;
    font-weight: bold;
    margin: 0 auto;
    margin-left: -320px;
    overflow: hidden;
  }
  